body {
    background-color: rgba(139,69,19,1);
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 60px;
    border-radius: 15px;
    color: white;
}

input {
    background-color: white;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

button {
    background-color: green;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    transition: opacity 0.15s ease, background-color 0.15s ease;
}

/* estilo para o botão "solid" quando habilitado (hover só quando NÃO estiver disabled) */
button.solid:not(:disabled):hover {
    background-color: rgb(22, 253, 22);
    cursor: pointer;
}

/* estado clear */
.clear {
    background-color: transparent;
    border: white 1px solid;
    color: white;
    cursor: pointer;
}
.clear:hover {
    text-decoration: underline;
}

/* botão desabilitado: opacidade e cursor */
button.solid:disabled,
button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
   
}

/* erros e título */
h1 {
    text-align: center;
    color: darkgreen;
}

.error {
    color: red;
}